@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card.flipped {
  transform: rotateY(180deg);
}
